<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Tipo de Produto Salvo com Sucesso!</title>
</head>

<body class="container">
    <% include ../partials/cabecalho.html %>

    <!-- Conteúdo -->
    <div>
            
        <!-- Título -->
        <h1 class="container text-center">Tipo de Produto Salvo com Sucesso!</h1>

        <div class="container text-center">
            <a href="/tiposdefornecedores" class="btn btn-xs btn-success" autofocus><span class="glyphicon glyphicon-list-alt"></span>     Lista Tipos de Fornecedores</a>
            <a href="/tiposdefornecedores/form" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span>     Novo</a>
        </div>

    </div>

</body>
</html>