<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Entrada & saída salvo com sucesso!</title>
</head>

<body>
    <div class="container">
        <% include ../partials/cabec_v02.html %>
        <!-- Conteúdo -->
        <div class="jumbos">
            <div class="jumbotron jumboVerde">

                <!-- Título -->
                <h2 class="container text-center">Entrada & saída salvo com sucesso!</h2>

                <!-- Botões -->
                <div class="container text-center">
                    <a href="/entradasesaidas" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-list-alt"></span>     Lista Entradas & Saídas</a>
                    <a href="/entradasesaidas/form" class="btn btn-xs btn-success" autofocus><span class="glyphicon glyphicon-plus"></span>     Novo</a>
                </div>

            </div>
        </div>

    </div>
    <!-- Rodapé -->
    <% include ../partials/rodape_v02.html %>
</body>

</html>