<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Listagem</title>
</head>

<body class="container">
    <!-- Cabeçalho -->
    <% include ../partials/cabecalho.html %>

    <!-- Conteúdo -->
    <div>
            
        <!-- Título -->
        <h2 class="container text-center">Entrada & Saída Salvo com Sucesso!</h2>

        <br>
        <br>
        <br>

        <div class="container text-center">
            <a href="/entradasesaidas" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-list-alt"></span>     Lista Entradas & Saídas</a>
            <a href="/entradasesaidas/form" class="btn btn-xs btn-success" autofocus><span class="glyphicon glyphicon-plus"></span>     Novo</a>
        </div>

    </div>
    
</body>

</html>