<header>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
        <div class="navbar-header">
    
            <!-- Logotipo -->
            <a class="navbar-brand">
             Ferpan RJ - Controle de Estoque
            </a>
    
            <!-- Menu Principal -->
            <div class="container">
    
            <!-- Botão Sanduiche no Mobile -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
            </div>
    
            <!-- Opções do Menu -->
            <div id="navbar" class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
    
                <li class="dropdown"> <!-- Menu Cadastros -->
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-list-alt"></span>     Cadastros Auxiliares<span class="caret"></span></a>
    
                    <!-- Sub-menu Cadastros-->
                    <ul class="dropdown-menu">
                    <li><a href="/home/inicio/">Página Inicial</a></li>
                    <li><a href="/usuarios/minhaconta">Minha Conta</a></li>
                    <li><a href="/municipios/">Municípios</a></li>
                    <li><a href="/ufs/">Unidades Federativas</a></li>
                    <li><a href="/usuarios/">Usuários</a></li>

                    
                    </ul>
                </li>
                    
                </ul>
            </div><!--/.nav-collapse -->
    
            </div>
    
        </div>
    
        </div>
    </div>
</header>
  