<nav class="fixed-bottom navbar-light bg-faded navbar-fixed-bottom">

    <footer class="footer">
      <div class="footer-copyright">
          <p>© 2018 - Desenvolvido por SistemasLivres.com.br </p>
      </div>
    </footer>

</nav> 

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
(function(){ var widget_id = '4h80HMeYIi';
var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
<!-- {/literal} END JIVOSITE CODE -->
