<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Ramos de Atividades</title>
</head>

<body class="container">
    <!-- Define a action -->
    <%
        let action='/ramosdeatividades';
        if(ramodeatividade.id){
            action='/ramosdeatividades/' + ramodeatividade.id + '?_method=PUT';
        }
    %>
    <!-- Cabeçalho com Cadastros -->
    <% include ../partials/cabecalho.html %>

    <!-- Conteúdo -->
    <div class="container">

        <h1>Ramos de Atividades</h1>

        <!-- Validação dos campos -->
        <% include ../partials/erros-validacao.html %>
        <form action="<%=action%>" method="POST" class="form-horizontal" role="form">

            <!-- Campo Sigla -->
            <div class="form-group container">
                <%if(ramodeatividade.id){%>
                    <input type="hidden" name="id" value="<%=ramodeatividade.id%>">
                <%}%>
                <label for="inputdescricao" class="control-label">Descrição</label>
                <div>
                    <input type="text" id="inputdescricao" class="form-control" name="descricao" placeholder="Descrição" autofocus value="<%=ramodeatividade.descricao%>">
                </div>
            </div>

            <!-- Botão Gravar(Submit) -->
            <div class="form-group container">
                <button type="SUBMIT" class="btn btn-success btn-sm botao_flutuante"><span class="glyphicon glyphicon-ok"></span></button>
            </div>
                    
        </form>
    
    </div>   
</body>

</html>