<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Ramo de Atividade Salvo com Sucesso!</title>
</head>
<body>
    <div class="container">
        <!-- Cabeçalho -->
        <% include ../partials/cabec_v02.html %>

        <!-- Conteúdo -->
        <div class="jumbos">
            <div class="jumbotron jumboVerde">

                <!-- Título -->
                <h1 class="container text-center">Ramo de Atividade Salvo com Sucesso!</h1>

                <div class="container text-center">
                    <a href="/ramosdeatividades" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-list-alt"></span>     Lista Ramos de Atividades</a>
                    <a href="/ramosdeatividades/form" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-plus"></span>     Novo</a>
                </div>

            </div>
        </div>
    
    </div>
    <!-- Rodapé -->
    <% include ../partials/rodape_v02.html %>
    
</body>
</html>