<!DOCTYPE html>
<html>
<head>
  <title>Ferpan</title>
  <!-- Head -->
  <% include partials/head.html %>
</head>

<body>
  <div class="container">

    <!-- Cabeçalho -->
    <% include partials/cabec_v01.html %>

    <div class="jumbos">

      <div class="jumbotron jumboVerde">
        <h1>Gerenciamento de Resíduos &bull; Macaé</h1>
        <br>
        <p>
          A Ferpan, acompanhando o desenvolvimento dos modelos de gerenciamento
          ambiental necessários ao desenvolvimento das Políticas de QSMS das empresas,
          as quais exigem políticas específicas para o gerenciamento de resíduos, oferece
          um trabalho sério, fundamentado no respeito ao ser humano, e no cumprimento à
          legislação vigente. Trabalho este, que serve como ferramenta essencial na
          execução de programas de gestão de resíduos.
      </div>

      <div class="jumbotron jumboMarrom">
        <h1 >Comércio de Metais &bull; Rio de Janeiro</h1>
        <br>
        <p >
          Nossa empresa que se encontra no mercado desde 1971, possui sua
          sede na Av. Brasil, no bairro de Realengo, no Rio de Janeiro, atuando no ramo de
          comércio de metais, trabalhando entre outras, com empresas voltadas para a
          exploração e prospecção de petróleo.
        </p>
      </div>

    </div>


  </div>

  <!-- Rodapé -->
  <% include partials/rodape_v01.html %>

</body>

</html>
