<!DOCTYPE html>
<html>

<head>
    <title>SistemasLires.com.br</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="img/favicon.ico">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--    <link rel="stylesheet" href="css/Footer-with-social-icons.css"> -->
    <link rel="stylesheet" href="css/style.css">
    
</head>

<body>
    <div class="container">

        <header>
          <nav class="navbar navbar-default navbar-fixed-top pull-right custom" >
            <div class="container">

              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
        
                <div class="logotipo">

                    <a class="navbar-brand" href="http://www.ferpan.com.br">
                      <img class="img-responsive" src="img/logo_site.png">
                    </a>
        
                </div>


              </div>

              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <!-- <li class="active"><a href="#">A Empresa</a></li> -->
    <!--
                  <li ><a href="#">A Empresa</a></li>
                  <li><a href="#about">Nossos Serviços</a></li>
    -->

                  <li><a href="#contact">A empresa</a></li>
                  <li><a href="#contact">Documetos e Licenças</a></li>
                  <li><a href="#contact">Serviços</a></li>

                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Área Restrita <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Gestão de Resíduos</a></li>
                      <li><a href="#">Controle de Combustíveis</a></li>
                      <li><a href="#">Recursos Humanos</a></li>
                      
    <!--
                      <li role="separator" class="divider"></li>
                      <li class="dropdown-header">Nav header</li>
                      <li><a href="#">Separated link</a></li>
                      <li><a href="#">One more separated link</a></li>
    -->                
                    </ul>
                  </li>
                    
                </ul>
              </div><!--/.nav-collapse -->

            </div>

          </nav>


        </header>

        <div class="jumbos">

          <div class="jumbotron clearfix jumbo1">
            <h1 class="text-muted">Gerenciamento de Resíduos - Macaé</h1>
            <p class="lead">
              Rua Professor Rodolpho David Gomes, 180 - Novo Cavaleiros - Macaé - RJ - 27930-470 - (22)2796-2100 - contato@ferpan.com.br
            </p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Ir para o Site</a></p>
          </div>
  
          <div class="jumbotron clearfix jumbo2">
            <h1 class="text-muted">Comércio de Metais - Rio de Janeiro</h1>
            <p class="lead">
              Avenida Brasil, 30777 - Realengo - Rio de Janeiro - RJ - 21720-001 - (21)2401-9505 - contato@ferpan.com.br
            </p>
            <p><a class="btn btn-lg btn-success" href="#" role="button">Ir para o Site</a></p>
          </div>
  
        </div>


    </div>


<!--    <nav class="navbar fixed-bottom navbar-light bg-faded navbar-fixed-bottom"> -->
    <nav class="fixed-bottom navbar-light bg-faded navbar-fixed-bottom">

        <footer id="myFooter" class="footer">
          <!--
            <div class="social-networks">
                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook-official"></i></a>
                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
            </div>
          -->
          <div class="footer-copyright">
                <p>© 2018 - Desenvolvido por SistemasLivres.com.br </p>
            </div>
          
        </footer>
    

      </nav> 

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
    (function(){ var widget_id = '4h80HMeYIi';
    var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
    <!-- {/literal} END JIVOSITE CODE -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
