.logotipo {
    position: relative;
    border-radius: 15px;
    margin-top: -6px;
}

.thead-dark tr{
  background-color:#128c7e;
  color: white;
  border-color: #58392e;
}

.btn-group {
    white-space: nowrap;
    flex-wrap: nowrap;
}

.menu{
    text-align: right;
    position: relative;
}

.botao_flutuante {
  position: fixed;
  bottom: 2em;
  left: 2em;
  text-decoration: none;
  color: white;
  background-color: #128c7e;
  border-color: #58392e;
  padding: 1em;

  /* Transparência do botão */
  filter:alpha(opacity=70);
  opacity: 0.7;
  -moz-opacity:0.7;
  -webkit-opacity:0.7;

  /* Sombra do botão */
  box-shadow: 1px 1px 0 #000;
  -webkit-box-shadow: 1px 1px 0 #000;
  -moz-box-shadow: 1px 1px 0 #000;  
}
.botao_flutuante:hover {
  background-color: #58392e;
  border-color: #128c7e;
  color: white;
}



/* --------------------------------------------------- */ 

/* Space out content a bit */
body {
    color: #58392e;
    margin-top: 100px;
    padding-bottom: 20px;

  }

  body h1 {
    color: #58392e;
    position: absolute;
    margin-top: -13.0%;
    font-size: 230%
  }

    /* Custom page header */
  .header {
    margin-top: 70px;
    padding-bottom: 20px;
    
  }
  
  /* Custom page footer */
  .footer {
    padding-top: 2px;
    color: white;
    border-top: 1px solid #e5e5e5;
  }


  .btn-success{
    background-color: #128c7e;
    border-color: #58392e;

    /* Transparência do botão */
    filter:alpha(opacity=70);
    opacity: 0.7;
    -moz-opacity:0.7;
    -webkit-opacity:0.7;
  }
  .btn-success:hover {
    background-color: #58392e;
    border-color: #128c7e;
  }


  .navbar-default {
    background-color: #58392e;
    border-color: #128c7e;
  }
  .navbar-default .navbar-brand {
    color: #f9f9f9;
  }
  .navbar-default .navbar-brand:hover,
  .navbar-default .navbar-brand:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-text {
    color: #f9f9f9;
  }
  .navbar-default .navbar-nav > li > a {
    color: #f9f9f9;
  }
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #58392e;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #f9f9f9;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #128c7e;
  }
  .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
    background-color: #128c7e;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #128c7e;
  }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #128c7e;
  }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #128c7e;
  }
  .navbar-default .navbar-toggle {
    border-color: #128c7e;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #128c7e;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #f9f9f9;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #f9f9f9;
  }
  .navbar-default .navbar-link {
    color: #f9f9f9;
  }
  .navbar-default .navbar-link:hover {
    color: #ffffff;
  }
  
  @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: #f9f9f9;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
      color: #ffffff;
      background-color: #128c7e;
    }
  }  

  
     /* --------------------------------------------------- */ 


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
  body h1 {
    margin-top: -2.5%;
  }
    
}

  