.cabec_login{
    background-color: #222222;
    color: white;
    display: block;
    height: 37px;
    
}

.cabec_login h2{
    text-align: right;
    vertical-align: middle;
}

.logotipologin {
    position: relative;
    border-radius: 15px;
    margin-top: -11px;
    margin-left: -11px;
}

.rodape_login{
    vertical-align: middle;
    align-content: center;
}

.btn-group {
  margin-top: 13px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  
    
}

  