.navbar {
  margin: 0 auto;
  /*
  align-content: center;
  */
  border-bottom: 1px solid #58392e;
 /*  margin-top: 300px; */
}

.navbar-default .navbar-brand {
  color: #f9f9f9;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}

.navbar-default .navbar-text {
  color: #f9f9f9;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #58392e;
  
}

.navbar-default .navbar-nav > li > a {
  color: white;
  background-color: #44BB6E;
  
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #58392e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #f9f9f9;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
/*
  color: #ffffff;
  background-color: #128c7e;
*/
  color: white;
  background-color: #44BB6E;

}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
/*  background-color: #128c7e; */
  background-color: #44BB6E;

}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
/*
  color: #ffffff;
  background-color: #128c7e;
*/
  color: white;
  background-color: #44BB6E;
  
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
/*
  color: #ffffff;
  background-color: #128c7e;
*/
  color: white;
  background-color: #44BB6E;
  
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
/*
  color: #ffffff;
  background-color: #128c7e;
*/
  color: white;
  background-color: #44BB6E;
  
}

.navbar-default .navbar-toggle {
  background-color: white;
/*  border: 1px solid #c11829; */

  
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
/*  background-color: #c11829; */

}
.navbar-default .navbar-toggle .icon-bar {
  color: white;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  color: white;
}
.navbar-default .navbar-link {
  color: white;
}
.navbar-default .navbar-link:hover {
  color: white;
}


/* 
Extra small devices (portrait phones, less than 544px) 
No media query since this is the default in Bootstrap because it is "mobile first"
*/
.logotipo {
  position: relative;
  top: -10px;
  max-width:160px;
  max-height:74px;
  width: auto;
  height: auto;
};


/*
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #58392e;
}
*/

.jumbotron {
}

.jumbos {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: justify;
  margin-top: 70px;
}

.jumbos h1 {
  font-size: 1.5rem; /*1rem = 16px*/
  margin-top: -10px;
  
}

.jumbos p {
  font-size: 1.5rem;
  margin-bottom: -10px;
}

.jumbo1 {
  color: white;
  background-color: #44BB6E;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbo2 {
  color: white;
  background-color: #58392e;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media screen and (min-width: 544px) {  
  .jumbos h1 {font-size:1.5rem;} /*1rem = 16px*/
  .jumbos p {font-size:1.5rem;}
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 768px) {  
  .jumbos h1 {font-size:2rem;} /*1rem = 16px*/
  .jumbos p {font-size:2rem;}

  .logotipo {
    top: -5px;
    max-width:223px;
    max-height:103px;
  };

  .header {
    margin-top: 30px;
  }
  
  .navbar {
    height: 80px;   
  }

  .navbar-nav {
    margin-top: 12.5px;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f9f9f9;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #128c7e;
  }

  .jumbos {
    margin-top: 110px;
/*    font-size: 90%;*/
  }

 /* 
  .jumbos h1 {
    font-size: 300%;
  }
*/

/*
  .jumbos p {
    font-size: 150%;
  }
  
*/







}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .jumbos h1 {font-size:2.5rem;} /*1rem = 16px*/
  .jumbos p {font-size:2.5rem;} 
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .jumbos h1 {font-size:3rem;} /*1rem = 16px*/    
  .jumbos p {font-size:3rem;} 
}
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Custom media queries
*/
 
/* Set width to make card deck cards 100% width */
@media (min-width: 950px) and (max-width:1100px) { 
  .jumbos h1 {font-size:2.75rem;color:red;} 
  .jumbos p {font-size:2.75rem;color:red;} 
}