<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Usuários</title>
</head>

<body>
    <div class="container">
        <!-- Cabeçalho -->
        <% include ../partials/cabec_v02.html %>

        <!-- Define a action -->
        <%
            let action='/usuarios';
            if(usuario.id){
                action='/usuarios/' + usuario.id + '?_method=PUT';
            }
        %>

        <!-- Conteúdo -->
        <div class="jumbos">
            <div class="jumbotron jumboVerde">

                <h1>Usuários</h1>

                <!-- Validação dos campos -->
                <% include ../partials/erros-validacao.html %>
                <form action="<%=action%>" method="POST" class="form-horizontal" role="form">
        
                    <div class="form-group">
        
                        <!-- Campo Consultoria ID. -->
                        <div class="col-sm-6 container">
                            <%if(usuario.id){%>
                                <input type="hidden" name="id" value="<%=usuario.id%>">
                            <%}%>
        
                            <label for="inputnome" class="control-label">Nome</label>
                            <div>
                                <input type="text" id="inputnome" class="form-control" name="nome" placeholder="Nome" autofocus value="<%=usuario.nome%>">
                            </div>
                        </div>
        
                        <!-- Campo Email -->
                        <div class="col-sm-6 container">
                            <label for="inputemail" class="control-label">Email</label>
                            <div>
                                <input type="email" id="inputemail" class="form-control" name="email" placeholder="Email" autofocus value="<%=usuario.email%>">
                            </div>
                        </div>
        
                        <!-- Campo Usuário -->
                        <div class="col-sm-6 container">
                            <label for="inputusername" class="control-label">Usuário</label>
                            <div>
                                <input type="text" id="inputusername" class="form-control" name="username" placeholder="Usuário" autofocus value="<%=usuario.username%>">
                            </div>
                        </div>
        
                        <!-- Campo Senha -->
                        <div class="col-sm-6 container">
                            <label for="inputpass" class="control-label">Senha</label>
                            <div>
                                <input type="password" id="inputpass" class="form-control" name="pass" placeholder="Senha" autofocus value="<%=usuario.pass%>">
                            </div>
                        </div>
        
                    </div>
        
                    <!-- Botão Gravar(Submit) -->
                    <div class="col-sm-6 form-group container">
                        <div >
                            <button type="SUBMIT" class="btn btn-success btn-lg botao_flutuante"><span class="glyphicon glyphicon-ok"></span></button>
                        </div>
                    </div>
        
                </form>
            
            </div>
        </div>
    </div>    
    <!-- Rodapé -->
    <% include ../partials/rodape_v02.html %>
</body>

</html>