<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Municípios</title>
    <!-- Inclui Bootstrap e Jquery -->
    <% include ../partials/bs.html %>
</head>

<body class="container">
    <!-- Define a action -->
    <%
        let action='/municipios';
        if(municipio.id){
            action='/municipios/' + municipio.id + '?_method=PUT';
        }
    %>
    <!-- Cabeçalho com Cadastros -->
    <% include ../partials/cabecalho.html %>

    <!-- Conteúdo -->
    <div class="container conteudo">

        <div class="text-center">
            <h1>Municípios</h1>
        </div>

        <!-- Validação dos campos -->
        <% include ../partials/erros-validacao.html %>
        <form action="<%=action%>" method="POST" class="form-horizontal" role="form">


            <!-- Campo UF -->
            <div class="form-group container">
                <%if(municipio.id){%>
                    <input type="hidden" name="id" value="<%=municipio.id%>">
                <%}%>
                <label for="inputuf" class="control-label">UF</label>
                <div>
                    <input type="text" id="inputuf" class="form-control" name="uf" placeholder="UF" autofocus value="<%=municipio.uf%>">
                </div>
            </div>

            <!-- Campo Nome -->
            <div class="form-group container">
                <label for="inputnome" class="control-label">Nome</label>
                <div>
                    <input type="text" id="inputnome" class="form-control" name="nome" placeholder="Nome" autofocus value="<%=municipio.nome%>">
                </div>
            </div>

            <!-- Campo Cód. IBGE -->
            <div class="form-group container">
                <label for="inputcodIBGE" class="control-label">Cód. IBGE</label>
                <div>
                    <input type="text" id="inputcodIBGE" class="form-control" name="codIBGE" placeholder="Cod. IBGE" autofocus value="<%=municipio.codIBGE%>">
                </div>
            </div>

            <!-- Botão Gravar(Submit) -->
            <div class="form-group container">
                <button type="SUBMIT" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-save"></span>     Gravar</button>
            </div>
                    
        </form>
        <!-- Rodapé -->
        <% include ../partials/rodape.html %>
    
    </div>   
</body>

</html>