<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>

    <title>Ferpan RJ - Controle de Estoque</title>
</head>

<body class="container ">
    <!-- Cabeçalho -->
    <% include ../partials/cabecalho.html %>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron text-center">
        <h1 class="text-center">Estoque Sucatas</h1>
        <br>
        <p>Gestão Estoque de Sucatas</p>
        <p>
        <a class="btn btn-lg btn-primary" href="/entradasesaidas/" role="button">Entradas & Saídas »</a>
        <a class="btn btn-lg btn-primary" href="/home/inicio" role="button">Saldos »</a>
        </p>
    </div>
   
</body>
</html>