<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Head -->
    <% include ../partials/head.html %>
    <title>Ferpan RJ - Controle de Estoque</title>
</head>
<body>
    <div class="container">
        <!-- Cabeçalho -->
        <% include ../partials/cabec_v02.html %>

        <!-- Conteúdo -->
        <div class="conteudo">
            <!-- -->
            <div class="jumbotron box-verde text-center">
                <h1>Estoque Sucatas</h1>
                <br>
                <p>
                <a class="btn btn-lg btn-success" href="/entradasesaidas/" role="button">Entradas & Saídas »</a>
                <a class="btn btn-lg btn-success" href="/home/saldo" role="button">Saldos »</a>
                </p>
            </div>

            <!--
            <div class="jumbotron jumboMarrom">
                <h1>Gestão de NF-e</h1>
                <p>
                <a class="btn btn-lg btn-success" href="/entradasesaidas/" role="button">Saídas »</a>
                <a class="btn btn-lg btn-success" href="/home/saldo" role="button">Entradas »</a>
                </p>
            </div>
            -->

            

        </div>

    </div>

    <!-- Rodapé -->
    <% include ../partials/rodape_v02.html %>
   
</body>
</html>