<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Página Inicial</title>
    <!-- Head -->
    <% include ../partials/head.html %>
</head>
<body>
    <div class="container ">

        <!-- Cabeçalho -->
        <% include ../partials/cabec_v02.html %>

        <!-- Conteúdo -->
        <div class="jumbos">

            <div class="jumbotron jumboVerde">

                <h1>Saldos</h1>
    
                <div class="table-responsive tabela">
                    <table class='table table-sm hover table-hover table-bordered table-striped'>    
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Material</th>
                                <th scope="col" class="text-center">Data</th>
                                <th scope="col" class="text-right">Qtde.</th>
                                <th scope="col">Unid. Med.</th>
                                <th scope="col" class="text-right">Valor</th>
                            </tr>
                        </thead>
        
                        <tbody>
        
                            <% for(produto of produtos) { %>
                                <tr>
                                    <td><%= produto.descricao %></td>
                                    <td class="text-center"><%= produto.saldo_atu_dt %></td>
                                    <td class="text-right"><%= produto.saldo_atu_qtde %></td>
                                    <td><%= produto.Sigla %></td>
                                    <td class="text-right"><%= produto.saldo_atu_valor %></td> 
                                </tr>
                            <%}%>
        
                        </tbody>
                    </table>
        
                </div>
                
            </div>
            



        </div>
 

    </div>


    <script src="/socket.io/socket.io.js"></script>  
 
    <script>
        const socket = io();
        socket.on('novoProduto', produto => {
            console.log(produto.id);

            const template = `
            <tr>

                <td>${produto.descricao}</td>
                <td>${produto.saldo_atu_dt}</td>
                <td>${produto.saldo_atu_qtde}</td>
                <td>${produto.Sigla}</td>
                <td>${produto.saldo_atu_valor}</td> 

            </tr>
            `;
            document.querySelector('table').insertAdjacentHTML('beforeend', template);

        })
    </script>

    <script>
        (() => {

            const headers = new Headers();
            headers.append('Accept','application/json');

            fetch('/produtos', {headers})
            .then(res => res.json())
            .then(produtos => console.log(produtos));


        })();
    </script>

    <!-- Rodapé -->
    <% include ../partials/rodape_v02.html %>

</body>
</html>