<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Salvo com Sucesso!</title>
</head>

<body class="container">
    <% include ../partials/cabecalho.html %>
           
    <!-- Título -->
    <h1 class="container text-center">Salvo com Sucesso!</h1>

    <!-- Botões -->
    <div class="container text-center">
        <a href="/fornecedores" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-list-alt"></span>     Lista Fornecedores</a>
        <a href="/fornecedores/form" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span>     Novo</a>
    </div>

</body>
</html>