<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Unidades Federativas</title>
    <!-- Inclui Bootstrap e Jquery -->
    <% include ../partials/bs.html %>
</head>

<body class="container">
    <!-- Define a action -->
    <%
        let action='/ufs';
        if(uf.id){
            action='/ufs/' + uf.id + '?_method=PUT';
        }
    %>
    <!-- Cabeçalho com Cadastros -->
    <% include ../partials/cabecalho.html %>

    <!-- Conteúdo -->
    <div class="container conteudo">

        <h1>Unidades Federativas</h1>
        
        <!-- Validação dos campos -->
        <% include ../partials/erros-validacao.html %>

                
        <form action="<%=action%>" method="POST" class="form-horizontal" role="form">

                <!-- Campo Sigla -->
                <div class="form-group">
                        <%if(uf.id){%>
                            <input type="hidden" name="id" value="<%=uf.id%>">
                        <%}%>
                        <label for="inputsigla" class="control-label">Sigla</label>
                    <div>
                        <input type="text" id="inputsigla" class="form-control" name="sigla" placeholder="Sigla" autofocus value="<%=uf.sigla%>">
                    </div>
                </div>

                <!-- Campo Nome -->
                <div class="form-group">
                    <label for="inputnome" class="control-label">Nome</label>
                    <div>
                        <input type="text" id="inputnome" class="form-control" name="nome" placeholder="Nome" autofocus value="<%=uf.nome%>">
                    </div>
                </div>

                <!-- Botão Gravar(Submit) -->
                <div class="form-group">
                    <button type="SUBMIT" class="btn btn-success btn-sm botao_flutuante"><span class="glyphicon glyphicon-ok"></span></button>
                </div>
                    
        </form>
    
    </div>   
</body>

</html>