<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Unidades Federativas</title>
</head>
<body class="container">
    <div class="container">
        <!-- Cabeçalho -->
        <% include ../partials/cabec_v02.html %>
        <!-- Define a action -->
        <%
            let action='/ufs';
            if(uf.id){
                action='/ufs/' + uf.id + '?_method=PUT';
            }
        %>

        <!-- Conteúdo -->
        <div class="jumbos">
            <div class="jumbotron jumboVerde">
                <h1>Unidades Federativas</h1>
                <!-- Validação dos campos -->
                <% include ../partials/erros-validacao.html %>
                <form action="<%=action%>" method="POST" class="form-horizontal" role="form">
        
                    <!-- Campo Sigla -->
                    <div class="form-group">
                            <%if(uf.id){%>
                                <input type="hidden" name="id" value="<%=uf.id%>">
                            <%}%>
                            <label for="inputsigla" class="control-label">Sigla</label>
                        <div>
                            <input type="text" id="inputsigla" class="form-control" name="sigla" placeholder="Sigla" autofocus value="<%=uf.sigla%>">
                        </div>
                    </div>
    
                    <!-- Campo Nome -->
                    <div class="form-group">
                        <label for="inputnome" class="control-label">Nome</label>
                        <div>
                            <input type="text" id="inputnome" class="form-control" name="nome" placeholder="Nome" autofocus value="<%=uf.nome%>">
                        </div>
                    </div>
    
                    <!-- Botão Gravar(Submit) -->
                    <div class="form-group">
                        <button type="SUBMIT" class="btn btn-success btn-lg botao_flutuante"><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                            
                </form>
            </div>
        </div>
    
    
    </div>   
    <!-- Rodapé -->
    <% include ../partials/rodape_v02.html %>

</body>

</html>