<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Unidades Federativas</title>
</head>

<body class="container">
    <!-- Cabeçalho -->
    <% include ../partials/cabecalho.html %>

    <!-- Conteúdo -->
    <div class="container"></div>

        <h1>Unidades Federativas</h1>

        <a href="/ufs/form" class="btn btn-xs btn-success botao_flutuante"><span class="glyphicon glyphicon-plus"></span></a>

        <div class="table-responsive tabela">
            <table class='table table-sm hover table-hover table-bordered table-striped'>    
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sigla</th>
                        <th scope="col">Nome</th>
                        <th scope="col" class="text-center">Ação</th>
                    </tr>
                </thead>

                <tbody>

                    <% for(uf of ufs) { %>
                        <tr>
                            <td><%= uf.sigla %></td>
                            <td><%= uf.nome %></td>

                            <td class="text-center">
                                <form method="POST" action="/ufs/<%=uf.id%>?_method=DELETE">
                                    <button type="SUBMIT" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-trash"></span></button>
                                    <a href="/ufs/form/<%=uf.id%>" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-pencil"></span></a>
                                </form>
                            </td>
                        </tr>
            
                    <%}%>

                </tbody>
            </table>

        </div>

    </div>


 <script src="/socket.io/socket.io.js"></script>  
 
 <script>
     const socket = io();
     socket.on('novoUF', uf => {
         console.log(uf.id);

         const template = `
            <tr>

                <td>${uf.sigla}</td>
                <td>${uf.nome}</td>

                <td>
                    <form method="POST" action="/ufs/${uf.id}?_method=DELETE">
                        <button type="SUBMIT" class="btn btn-danger">Remover</button>
                    </form>
                    <a href="/ufs/form/${uf.id}" class="btn btn-primary">
                        Alterar
                    </a>
                </td>
            </tr>
         `;
         document.querySelector('table').insertAdjacentHTML('beforeend', template);

     })
 </script>

 <script>

    (() => {

        const headers = new Headers();
        headers.append('Accept','application/json');

        fetch('/ufs', {headers})
        .then(res => res.json())
        .then(ufs => console.log(ufs));


    })();

 </script>

</body>
</html>