<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem</title>
    <!-- Serve para incluir as os frameworks -->
    <% include ../partials/bs.html %>

</head>
<body class="container">
    <% include ../partials/cabecalho.html %>


    <div class="container text-center conteudo">
        <h2>Unidade Federativa Salvo com Sucesso!</h2>

        <a href="/uf" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-list-alt"></span>     Lista Unidades Federativas</a>
        <a href="/ufs/form" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span>     Novo</a>
    </div>
    <% include ../partials/rodape_vazio.html %>
    

</body>
</html>