<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Unidades de Medidas</title>
</head>
<body>
    <div class="container">
        <!-- Cabeçalho -->
        <% include ../partials/cabec_v02.html %>
        <!-- Define a action -->
        <%
            let action='/unidadesdemedidas';
            if(unidadedemedida.id){
                action='/unidadesdemedidas/' + unidadedemedida.id + '?_method=PUT';
            }
        %>

        <!-- Conteúdo -->
        <div class="conteudo">
            <div class="jumbotron box-verde">

                <h1>Unidades de Medidas</h1>

                <!-- Validação dos campos -->
                <% include ../partials/erros-validacao.html %>
                <form action="<%=action%>" method="POST" class="form-horizontal" role="form">
        
        
                    <!-- Campo Sigla -->
                    <div class="form-group container">
                        <%if(unidadedemedida.id){%>
                            <input type="hidden" name="id" value="<%=unidadedemedida.id%>">
                        <%}%>
                        <label for="inputsigla" class="control-label">Sigla</label>
                        <div>
                            <input type="text" id="inputsigla" class="form-control" name="sigla" placeholder="Sigla" autofocus value="<%=unidadedemedida.sigla%>">
                        </div>
                    </div>
        
                    <!-- Campo Descrição -->
                    <div class="form-group container">
                        <label for="inputdescricao" class="control-label">Descrição</label>
                        <div>
                            <input type="text" id="inputdescricao" class="form-control" name="descricao" placeholder="Descrição" autofocus value="<%=unidadedemedida.descricao%>">
                        </div>
                    </div>
        
                    <!-- Botão Gravar(Submit) -->
                    <div class="form-group container">
                        <button type="SUBMIT" class="btn btn-success btn-lg botao_flutuante"><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                            
                </form>
            
            </div>
        </div>
    
    </div>
    <!-- Rodapé -->
    <% include ../partials/rodape_v02.html %>
</body>

</html>