<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Tipos de Produtos</title>
</head>
<body>
    <div class="container">
        <!-- Cabeçalho -->
        <% include ../partials/cabec_v02.html %>
        <!-- Define a action -->
        <%
            let action='/tiposdeprodutos';
            if(tipodeproduto.id){
                action='/tiposdeprodutos/' + tipodeproduto.id + '?_method=PUT';
            }
        %>

        <!-- Conteúdo -->
        <div class="conteudo">
            <div class="jumbotron box-verde">

                <h1>Tipos de Produtos</h1>

                <!-- Validação dos campos -->
                <% include ../partials/erros-validacao.html %>
                <form action="<%=action%>" method="POST" class="form-horizontal" role="form">
        
                    <!-- Campo Sigla -->
                    <div class="form-group container">
                        <%if(tipodeproduto.id){%>
                            <input type="hidden" name="id" value="<%=tipodeproduto.id%>">
                        <%}%>
                        <label for="inputdescricao" class="control-label">Descrição</label>
                        <div>
                            <input type="text" id="inputdescricao" class="form-control" name="descricao" placeholder="Descrição" autofocus value="<%=tipodeproduto.descricao%>">
                        </div>
                    </div>
        
                    <!-- Botão Gravar(Submit) -->
                    <div class="form-group container">
                        <button type="SUBMIT" class="btn btn-success btn-lg botao_flutuante"><span class="glyphicon glyphicon-ok"></span></button>
                    </div>
                            
                </form>
            

            </div>
        </div>
    
    </div>   
    <!-- Rodapé -->
    <% include ../partials/rodape_v02.html %>
</body>

</html>