<!DOCTYPE html>
<html lang="pt-br">
<head>
    <!-- Include como se usa no PHP. Serve para incluir titulos, rodapes e partes de código -->
    <% include ../partials/head.html %>
    <title>Tipo de produto salvo com sucesso!</title>
</head>
<body>
    <div class="container">
        <!-- Cabeçalho -->
        <% include ../partials/cabec_v02.html %>
        <!-- Conteúdo -->
        <div class="jumbos">
            <div class="jumbotron jumboVerde">
                <!-- Título -->
                <h1 class="container text-center">Tipo de produto salvo com sucesso!</h1>
                <!-- Botões -->
                <div class="container text-center">
                    <a href="/tiposdeprodutos" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-list-alt"></span>     Lista Tipos de Produtos</a>
                    <a href="/tiposdeprodutos/form" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-plus"></span>     Novo</a>
                </div>
            <div>
        <div>
    </div>
    <!-- Rodapé -->
    <% include ../partials/rodape_v02.html %>
</body>
</html>