<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Listagem</title>
    <!-- Serve para incluir as os frameworks -->
    <% include ../partials/bs.html %>

</head>
<body class="container">
    <% include ../partials/cabecalho.html %>

    <!-- Conteúdo -->
    <div>
            
        <!-- Título -->
        <h2 class="container text-center">Produto Salvo com Sucesso!</h2>

        <br>
        <br>
        <br>

        <div class="container text-center">
            <a href="/produtos" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-list-alt"></span>     Lista Produtos</a>
            <a href="/produtos/form" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span>     Novo</a>
        </div>

    </div>

</body>
</html>